<p id="notice"><%= notice %></p>

<h1>Premiums</h1>

<<<<<<< HEAD
<table>
=======
<table class="table">
>>>>>>> cj
  <thead>
    <tr>
      <th>Subline</th>
      <th>Peril</th>
      <th>Subline factor</th>
      <th>Coverage limit</th>
      <th>Coverage duration</th>
      <th>Premium</th>
      <th>Prem type</th>
      <th>Taxed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @premiums.each do |premium| %>
      <tr>
<<<<<<< HEAD
        <td><%= premium.subline_id %></td>
        <td><%= premium.peril_id %></td>
=======
        <td><%= premium.sublinename %></td>
        <td><%= premium.perilname %></td>
>>>>>>> cj
        <td><%= premium.subline_factor %></td>
        <td><%= premium.coverage_limit %></td>
        <td><%= premium.coverage_duration %></td>
        <td><%= premium.premium %></td>
        <td><%= premium.prem_type %></td>
        <td><%= premium.taxed %></td>
        <td><%= link_to 'Show', premium %></td>
        <td><%= link_to 'Edit', edit_premium_path(premium) %></td>
<<<<<<< HEAD
        <td><%= link_to 'Destroy', premium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
=======
        <!-- <td><%#= link_to 'Destroy', premium, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
>>>>>>> cj
      </tr>
    <% end %>
  </tbody>
</table>

<<<<<<< HEAD
<br>

<%= link_to 'New Premium', new_premium_path %>
=======

<%= link_to 'New Premium', new_premium_path %>

<h2>Import Premiums</h2>
<%= form_tag import_premiums_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
>>>>>>> cj
