
<%= simple_form_for(@quote) do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">

    <div class="col-sm-6">
      <%= f.association :subline, label: 'Vehicle Type' %>
      <%= f.input :coverage_limit %>
      <%# f.input :coverage_duration, wrapper_html: { class: 'col-sm-6' }, input_html: { value: '1'} %>
    </div>

    <div class="col-sm-6 perils">
      <%= f.simple_fields_for :quote_perils do |builder| %>
        <%= render 'quote_peril_fields', f: builder %>
      <% end %>

      <div class="links text-right">
        <%= link_to_add_association 'Add Peril', f, :quote_perils, class: 'btn btn-primary text-white' %>
      </div>
    </div>

  </div>

  <hr>
  <div class="form-actions text-right">
    <%= f.submit 'Get Quote', class: 'btn btn-primary' %>
    <%= link_to 'Back', quotes_path, class: 'btn btn-secondary text-white pt-2' %>
  </div>

<% end %>
