
<%= simple_form_for(@quote, html: { novalidate: true }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div>

    <%= f.association :subline, wrapper_html: { class: 'form-group col-sm-6' }, input_html: {class: 'form-control'} %>


    <%= f.input :premium_id, as: :hidden, required: false, input_html: {value: '1'} %>
    
    <%#= f.association :peril, wrapper_html: { class: 'form-group col-sm-6' }, input_html: {class: 'form-control'} %>

    <%= f.input :coverage_limit, wrapper_html: { class: 'form-group col-sm-6' }, input_html: {class: 'form-control'} %>

    <%= f.input :coverage_duration, wrapper_html: { class: 'form-group col-sm-6' }, input_html: {class: 'form-control'} %>

    <%= f.input :base_prem, as: :hidden, required: false, input_html: {value: '1'} %>

    <%= f.input :total_charges, as: :hidden, required: false, input_html: {value: '1'} %>

    <%= f.input :gross_prem, as: :hidden, required: false, input_html: {value: '1'} %>
    
    <table>    
      <tbody class='perils'>
        <%= f.simple_fields_for :peril do |builder| %>
          <%= render 'peril_fields', f: builder %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="form-actions py-3 mx-3">
    <p><%= link_to_add_association 'Add Peril', f, :peril, class: 'btn btn-primary text-white', data: { association_insertion_node: '.perils', association_insertion_method: :append } %></p>
    <%= f.submit 'Get Quote', class: 'btn btn-primary' %>
    <%= link_to 'Back', quotes_path, class: 'btn btn-secondary text-white pt-2' if params[:action] == 'new'%>
  </div>
<% end %>
