<p id="notice"><%= notice %></p>
<hr>

<%= format_date(Date.today) %>
<table class="mt-5">
  <tr>
    <td><%= content_tag :b, 'Subject:'%></td>
    <td><%= content_tag :b, ':' %></td>
    <td><%= content_tag :h5, 'Motor Car Insurance Quotation' %></td>
  </tr>

  <% @quote.quote_vehicles.each do |vehicle|%>

    <tr>
      <td><%= content_tag :b, 'Name of Assured', class: "mr-5"%></td>
      <td><%= content_tag :p, ':', class: "mr-5" %></td>
      <td><%= content_tag :b, ' ' %></td>
    </tr>

    <tr>
      <td><%= content_tag :b, 'Address' %></td>
      <td><%= content_tag :p, ':' %></td>
      <td><%= content_tag :b, ' ' %></td>
    </tr>

    <tr>
      <td><%= content_tag :b, 'Vehicle Description' %></td>
      <td><%= content_tag :p, ':' %></td>
      <td><%= content_tag :b, "#{vehicle.brand.name} #{vehicle.model.name}" %></td>
    </tr>

    <tr>
      <td><%= content_tag :b, "Plate No" %></td>
      <td><%= content_tag :p, ':' %></td>
      <td><%= content_tag :p, vehicle.plate_no %></td>
    </tr>

    <tr>
      <td><%= content_tag :b, "Chassis No/Serial No " %></td>
      <td><%= content_tag :p, ':' %></td>
      <td><%= content_tag :p, vehicle.chassis_no %></td>
    <tr>

  <% end %>

  <tr>
    <td><%= content_tag :b, "Inception" %></td>
    <td><%= content_tag :p, ':' %></td>
    <td><%= content_tag :p, "To be advised." %></td>
  <tr>

</table>

<table class="table table-bordered table-sm">
  <tr>
    <th>Coverage</th>
    <th>Sum Insured</th>
    <th>Premium</th>
  </tr>

  <% @quote.quote_perils.each do |qp|%>
    <tr>

      <td><%= content_tag :p, qp.peril_name %> </td>
      <td class="text-right"><%= content_tag :p, format_currency(qp.sum_insured) %></td>
      <td class="text-right"><%= content_tag :p, format_currency(qp.base_prem) %></td>
    </tr>
  <% end %>

  <tr>
    <td><%= content_tag :p, 'Total Premium' %></td>
    <td></td>
    <td class="text-right"><%=  format_currency(@quote.base_prem) %></td>
  </tr>
  <tr>
    <td><%= content_tag :p, 'Taxes' %></td>
    <td></td>
    <td class="text-right"><%=  format_currency(@quote.total_charges) %></td>
  </tr>

  <tr>
    <td><%= content_tag :b, 'TOTAL' %></td>
    <td></td>
    <td class="text-right"><%= content_tag :b, format_currency(@quote.gross_prem) %></td>
  </tr>

</table>

  <%= content_tag :p, 'This quotation is subject to our standard policy wording, is limitation, exclusions, conditions, provisions and the endorsement indicated hereto, if any.', class: "mt-5" %>
  <%= content_tag :p, 'We trust you to find our proposal acceptable and we look forward to receiving your instructions to issue the policy.' %>
  <%= content_tag :p, 'Should you require further clarification, please do not hesitate to contact us at the numbers below.' %>
  <%#= content_tag :p, 'Thank you.' %>

  <hr class="mt-4">
  <p><%= content_tag :small, 'BIR Permit No.: 1708_0125_PTU_CBA_00147', class: "mr-3" %>
  <%= content_tag :small, 'Date: January 1, 2018' %></p>
  <%= content_tag :small, 'This document is not valid for claiming input tax.' %>
