<div class="container form-group">
    <%= search_form_for @q, builder: SimpleForm::FormBuilder, url: claims_index_path, html: { class: 'form-inline' } do |f| %>
      <div class="px-1 py-1 bg-secondary mr-sm-2 rounded">
        <%= f.search_field :line_code_cont, placeholder: "Line", class: 'form-control', :maxlength => 2, :size => 1 %>
        <%= f.search_field :subline_code_cont, placeholder: "Subline", class: 'form-control', :maxlength => 4, :size => 3 %>
        <%= f.search_field :source_cont, placeholder: "Branch", class: 'form-control', :maxlength => 2, :size => 3 %>
        <%= f.search_field :claim_year_eq, placeholder: "Year", class: 'form-control', :maxlength => 2, :size => 1 %>
        <%= f.search_field :sequence_number_eq, placeholder: "Sequence", class: 'form-control', :maxlength => 7, :size => 5 %>
      </div>
      <div class="px-1 py-1 bg-secondary mr-sm-2 rounded">
        <%= f.search_field :assured_name_cont, placeholder: "Assured", class: 'form-control', :size => 7 %>
      </div>
      <div>
        <div class="px-1 py-1 bg-info my-sm-2 mr-sm-2 rounded col-md-9 text-center">
          <%= content_tag :h6, 'Payee Class', class: 'text-light text-center'%>
          <%= f.collection_select :giis_payee_classes_class_code_eq, GiisPayeeClass.all, :class_code, :description, include_blank: true %>
        </div>
        <div class="px-1 py-1 bg-info my-sm-2 mr-sm-2 rounded">
          <%= content_tag :h6, 'Claim Status', class: 'text-light text-center'%>
          <%= f.collection_select :giis_clm_stat_status_eq, GiisClmStat.all, :status, :description, include_blank: true %>
        </div>
      </div>
      <div>
        <div class="px-1 py-1 bg-info my-sm-2 mr-sm-2 rounded">
          <%= content_tag :h6, 'Loss Date', class: 'text-light text-center' %>
          <%= f.text_field :loss_date_gteq, :id => "loss_date_from", placeholder: "From", class: 'form-control', :size => 7 %>
          <%= f.text_field :loss_date_lteq, :id => "loss_date_to", placeholder: "To", class: 'form-control', :size => 7 %>
        </div>
        <div class="px-1 py-1 bg-info my-sm-2 mr-sm-2 rounded">
          <%= content_tag :h6, 'Check Release Date', class: 'text-light text-center' %>
          <%= f.text_field :giac_chk_release_infos_check_release_date_gteq, :id => "release_date_from", placeholder: "From", class: 'form-control', :size => 7 %>
          <%= f.text_field :giac_chk_release_infos_check_release_date_lteq, :id => "release_date_to", placeholder: "To", class: 'form-control', :size => 7 %>
        </div>
      </div>
      <%= f.submit "Search", class: 'btn btn-primary' %>
    <% end %>
</div>
