<p></p>

<h1>Claims</h1>

<%= render 'ransack' %>

<table class="table table-hover">
  <thead class="success">
    <%= content_tag :th, 'Claim Number' %>
    <%= content_tag :th, 'Policy Number' %>
    <%= content_tag :th, 'Assured' %>
    <%#= content_tag :th, 'Check Release Date' %>
    <%#= content_tag :th, 'Payee Class' %>
    <%= content_tag :th, 'Date of Loss' %>
  </thead>

  <tbody>
    <% @claims.each do |claim| %>
    <tr>
      <%= content_tag :td, claim.no %>
      <%= content_tag :td, claim.polbasic.no unless claim.polbasic.nil? %>
      <%= content_tag :td, "#{claim.assured_name} (#{claim.assd_no})" %>
      <!-- <td>
        <%# claim.giac_direct_claim_payts.each do |payment| %>
          <%# payment.giac_chk_release_infos.each do |check_info| %>
            <%#= format_date(check_info.check_release_date) unless check_info.nil? %>
          <%# end %>
        <%# end %>
      </td> -->
      <!-- <td>
        <%# claim.gicl_clm_loss_exps.each do |loss_exp| %>
          <%# loss_exp.giis_payees.where(no: loss_exp.payee_no).each do |payee| %>
            <%# payee.giis_payee_classes.each do |payee_class| %>
              <%#= payee_class.description %>
            <%# end %>
          <%# end %>
        <%# end %>
      </td> -->
      <td><%= format_date(claim.loss_date) %></td>
      <td><%= link_to 'Show Details', claims_show_path(id: claim.claim_id), class: 'btn btn-info' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Download Excel', claims_index_path(request.parameters.merge(format: :xlsx)), target: :_blank, class: 'btn btn-success float-right' %>

<%= page_entries_info @claims, entry_name: 'claims' %><br>
<%= paginate @claims %>
