<table class="table">
  <thead>
    <%= content_tag :th, 'Loss Year' %>
    <% (1991..2018).each do |year_paid| %>
      <%= content_tag :th, year_paid %>
    <% end %>
    <%= content_tag :th, 'Total Paid' %>
  </thead>

  <% @claims_by_year.sort.each do |loss_year, claims| %>
    <tr>
      <td>
        <h2><%= loss_year.strftime('%Y') %></h2>
      </td>

      <% (1991..2018).each do |column_year| %>

        <% for claim in claims %>
          <% claim.disbursements.group_by { |d| d.last_update.beginning_of_year }.sort.each do |year_paid, disbursements| %>

            <% if year_paid == column_year %>
              <td>

                <% disbursements.each do |disbursement| %>
                <%= format_date disbursement.check_date %>
                <%= content_tag :strong, format_currency(disbursement.amount)  %><br>
                <% end %>

              </td>
            <% else %>
              <td>
              </td>
            <% end %>

          <% end %>
        <% end %>

      <% end %>

      <td class="text-right">
        <%= format_currency(claims.map{|c| c.get_loss_payment }.sum) %>
      </td>
    </tr>
  <% end %>


</table>
