<p></p>
<h3 class="text-center form-group">Claim Details</h3>

  <div class="row form-group">
    <%= content_tag :div, 'Assured:', class: 'col-md-1' %>
    <%= content_tag :div, @claim.assured_name, class: 'col-md-6' %>
    <div class="col-md-2">
      <%= content_tag :p, 'Claim Number:' %>
      <%= content_tag :p, 'Policy Number:' %>
    </div>
    <div class="col-md-3">
      <%= content_tag :p, @claim.no %>
      <%= content_tag :p, @claim.polbasic.no %>
    </div>
  </div>

  <div class="float-left col-md-8">
    <div class="row form-group">
      <%= content_tag :div, 'Agent/Broker:', class: 'col-md-2' unless @claim.polbasic.giis_intermediary.nil? %>
      <%= content_tag :div, "#{@claim.polbasic.giis_intermediary.name} (#{@claim.polbasic.giis_intermediary.no})", class: 'col-md-6' unless @claim.polbasic.giis_intermediary.nil? %>
    </div>

    <div class="row form-group">
      <%= content_tag :div, 'Claims Processor:', class: 'col-md-2' %>
      <%= content_tag :div, @claim.user_id, class: 'col-md-6' %>
    </div>

    <div class="row form-group">
      <%= content_tag :div, 'Claims Status:', class: 'col-md-2' %>
      <%= content_tag :div, @claim.giis_clm_stat.description, class: 'col-md-6' %>
    </div>

    <div class="row form-group">
        <%= content_tag :div, 'Loss Category:', class: 'col-md-2' %>
        <%= content_tag :div, @claim.loss_category, class: 'col-md-6' %>

        <%# @claim.giis_perils.where(line_cd: @claim.line_cd).each do |peril| %>
          <%#= content_tag :div, peril.name, class: 'col-md-6' %>
        <%# end %>
    </div>

    <div class="row form-group">
      <%= content_tag :div, 'Diagnosis:', class: 'col-md-2'  if  @claim.loss_dtls %>
      <%= content_tag :div, @claim.loss_dtls, class: 'col-md-6' %>
    </div>

    <% @claim.gicl_clm_loss_exps.each do |loss_exp| %>
      <div class="row form-group">
        <% loss_exp.giis_payees.where(no: loss_exp.payee_no).each do |payee| %>
          <% payee.giis_payee_classes.each do |payee_class| %>
            <%= content_tag :div, "Payee #{payee_class.description.titleize}:", class: 'col-md-2'%>
          <% end %>
          <%= content_tag :div, payee.name, class: 'col-md-6' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="float-right col-md-4">
    <div class="row form-group">
      <%= content_tag :div, 'Name of Adjuster:', class: 'col-md-5' %>
      <%= content_tag :div, @claim.adjuster, class: 'col-md-4' %>
    </div>
    <div class="row form-group">
      <%= content_tag :div, 'Cost:', class: 'col-md-5'  if  @claim.cost %>
      <%= content_tag :div, format_currency(@claim.cost), class: 'col-md-4' %>
    </div>
    <div class="row form-group">
      <% @claim.giac_direct_claim_payts.each do |payment| %>
      <% @disbursement = payment.giac_chk_disbursement %>
        <%= content_tag :div, 'Check No:', class: 'col-md-5' unless @disbursement.nil? %>
        <%= content_tag :div, @disbursement.check_number, class: 'col-md-4' unless @disbursement.nil? %>
    </div>
    <div class="row form-group">
        <%= content_tag :div, 'Check Prepared:', class: 'col-md-5' unless @disbursement.nil? %>
        <%= content_tag :div, format_date(@disbursement.check_date), class: 'col-md-4' unless @disbursement.nil? %>
    </div>
    <div class="row form-group">
        <%= content_tag :div, 'Check Release:', class: 'col-md-5' unless @disbursement.nil? %>
        <%= content_tag :div, format_date(@disbursement.check_release_date), class: 'col-md-4' unless @disbursement.nil? %>
      <% end %>
    </div>
  </div>

  <table class="table table-bordered">
    <thead class="text-center">
      <th colspan="2">Effectivity Date</th>
      <%= content_tag :th, 'Date of Loss' %>
      <%= content_tag :th, 'Date Reported' %>
    </thead>
    <tbody class="text-center">
      <tr>
        <%= content_tag :td, format_date(@claim.effectivity_date) %>
        <%= content_tag :td, format_date(@claim.expiry_date) %>
        <%= content_tag :td, format_date(@claim.loss_date) %>
        <%= content_tag :td, format_date(@claim.date_reported) %>
      </tr>
    </tbody>
  </table>

  <div class="row form-group">
    <%= content_tag :div, 'Interval Period (Policy Effectivity to Date of Loss):', class: 'col-md-4' %>
    <%= content_tag :div, "#{@claim.months_between(@claim.effectivity_date, @claim.loss_date)} Month/s" %>
  </div>
  <div class="row form-group">
    <%= content_tag :div, 'Turn Around Time (Date of Loss to Date Reported):', class: 'col-md-4' %>
    <div>
      <%= content_tag :p, "#{@claim.calendar_dates(@claim.loss_date, @claim.date_reported)} Calendar Days" %>
      <%= content_tag :p, "#{@claim.business_days_between(@claim.loss_date, @claim.date_reported)} Working Days" %>
    </div>
  </div>

<%= link_to 'Back', url_for(:back), class: 'btn btn-danger float-right' %>
