<p></p>
<h3 class="text-center form-group">Claim Details</h3>

  <div class="row form-group">
    <%= content_tag :div, 'Assured:', class: 'col-md-1' %>
    <%= content_tag :div, @claim.assured_name, class: 'col-md-6' %>
    <div class="col-md-2">
      <%= content_tag :p, 'Claim Number:' %>
      <%= content_tag :p, 'Policy Number:' %>
    </div>
    <div class="col-md-3">
      <%= content_tag :p, @claim.no %>
      <%= content_tag :p, @claim.polbasic.no %>
    </div>
  </div>

  <div class="float-left col-md-8">
    <div class="row form-group">
      <%= content_tag :div, 'Agent/Broker:', class: 'col-md-2' unless @claim.polbasic.giis_intermediary.nil? %>
      <%= content_tag :div, "#{@claim.polbasic.giis_intermediary.name} (#{@claim.polbasic.giis_intermediary.no})", class: 'col-md-6' unless @claim.polbasic.giis_intermediary.nil? %>
    </div>

    <div class="row form-group">
      <%= content_tag :div, 'Claims Processor:', class: 'col-md-2' %>
      <%= content_tag :div, @claim.user_id, class: 'col-md-6' %>
    </div>

    <div class="row form-group">
      <%= content_tag :div, 'Claims Status:', class: 'col-md-2' %>
      <%= content_tag :div, @claim.giis_clm_stat.description, class: 'col-md-6' %>
    </div>

    <div class="row form-group">
        <%= content_tag :div, 'Loss Category:', class: 'col-md-2' %>
        <%= content_tag :div, @claim.loss_category, class: 'col-md-6' %>

        <%# @claim.giis_perils.where(line_cd: @claim.line_cd).each do |peril| %>
          <%#= content_tag :div, peril.name, class: 'col-md-6' %>
        <%# end %>
    </div>

    <div class="row form-group">
      <%= content_tag :div, 'Diagnosis:', class: 'col-md-2'  if  @claim.loss_dtls %>
      <%= content_tag :div, @claim.loss_dtls, class: 'col-md-6' %>
    </div>
  </div>

  <div class="float-right col-md-4">
    <div class="row form-group">
      <%= content_tag :div, 'Name of Adjuster:', class: 'col-md-5' %>
      <%= content_tag :div, @claim.adjuster, class: 'col-md-4' %>
    </div>
    <div class="row form-group">
      <%= content_tag :div, 'Cost:', class: 'col-md-5'  if  @claim.cost %>
      <%= content_tag :div, format_currency(@claim.cost), class: 'col-md-4' %>
    </div>
  </div>

  <div class="">
    <table class="table table-borderless col-md-6 float-left">
      <thead>
        <%= content_tag :th, 'Payee Class' unless @claim.gicl_clm_loss_exps.nil? %>
        <%= content_tag :th, 'Payee Name' unless @claim.gicl_clm_loss_exps.nil? %>
        <%= content_tag :th, 'Net Paid Amount' unless @claim.gicl_clm_loss_exps.nil? %>
      </thead>
      <% @claim.gicl_clm_loss_exps.each do |loss_exp| %>
      <tbody>
        <tr>
            <% loss_exp.giis_payees.where(no: loss_exp.payee_no).each do |payee| %>
              <% payee.giis_payee_classes.each do |payee_class| %>
                <%= content_tag :td, "#{payee_class.description.titleize}" unless loss_exp.net_amt == 0 %>
              <% end %>
              <%= content_tag :td, payee.name  unless loss_exp.net_amt == 0 %>
              <%= content_tag :td, format_currency(loss_exp.net_amt) unless loss_exp.net_amt == 0 %>
            <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>

    <table class="table table-borderless col-md-5 float-right">
      <thead>
        <%= content_tag :th, 'Check No.' unless @claim.giac_direct_claim_payts.nil? %>
        <%= content_tag :th, 'Check Prepared' unless @claim.giac_direct_claim_payts.nil? %>
        <%= content_tag :th, 'Check Release' unless @claim.giac_direct_claim_payts.nil? %>
      </thead>
      <% @claim.giac_direct_claim_payts.each do |payment| %>
      <tbody>
        <tr>
          <% payment.giac_chk_disbursements.each do |disbursement| %>
            <%= content_tag :td, disbursement.check_number unless disbursement.nil? %>
            <%= content_tag :td, format_date(disbursement.check_date) unless disbursement.nil?  %>
          <% end %>
          <% payment.giac_chk_release_infos.each do |check_info| %>
            <%= content_tag :td, format_date(check_info.check_release_date) unless check_info.nil? %>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<div class="dates">
  <table class="table table-bordered">
    <thead class="text-center">
      <th colspan="2">Effectivity Date</th>
      <%= content_tag :th, 'Date of Loss' %>
      <%= content_tag :th, 'Interval Period' %>
      <%= content_tag :th, 'Date Reported' %>
      <%= content_tag :th, 'TAT' %>
      <%= content_tag :th, 'Completed Documents' %>
      <%= content_tag :th, 'TAT' %>
      <%= content_tag :th, 'Assigned to Adjuster' %>
      <%= content_tag :th, 'TAT' %>
      <%= content_tag :th, 'Final Adjuster Report' %>
      <%= content_tag :th, 'TAT' %>
      <%= content_tag :th, 'Approved by Claims' %>
      <%= content_tag :th, 'TAT' %>
      <%= content_tag :th, 'Date of LOA' %>
      <%= content_tag :th, 'TAT' %>
      <%= content_tag :th, 'Out from Shop' %>
      <%= content_tag :th, 'TAT' %>
      <%= content_tag :th, 'Invoice Received' %>
      <%= content_tag :th, 'TAT' %>
      <%= content_tag :th, 'Request for Payment' %>
      <%= content_tag :th, 'TAT' %>
      <%= content_tag :th, 'TAT (To Check Date)' %>
      <%= content_tag :th, 'To Audit' %>
      <%= content_tag :th, 'TAT' %>
      <%= content_tag :th, 'To Treasury' %>
      <%= content_tag :th, 'TAT' %>
      <%= content_tag :th, 'TAT (To Check Release)'%>
    </thead>
    <tbody class="text-center">
      <tr>
        <%= content_tag :td, format_date(@claim.effectivity_date) %>
        <%= content_tag :td, format_date(@claim.expiry_date) %>
        <%= content_tag :td, format_date(@claim.loss_date) %>
        <%= content_tag :td, pluralize(@claim.months_between(@claim.effectivity_date, @claim.loss_date), 'Month') %>
        <%= content_tag :td, format_date(@claim.date_reported) %>
        <%= content_tag :td, pluralize(@claim.loss_to_reported_tat, 'Day') %>
        <%= content_tag :td, format_date(@claim.claims_tat.complete_doc) unless @claim.claims_tat.nil? %>
        <%= content_tag :td, pluralize(@claim.reported_to_completed_tat, 'Day') unless @claim.claims_tat.nil? %>
        <%= content_tag :td, format_date(@claim.claims_tat.assigned_to_adjuster) unless @claim.claims_tat.nil? %>
        <%= content_tag :td, pluralize(@claim.completed_to_assignment_tat, 'Day') unless @claim.claims_tat.nil? %>
        <%= content_tag :td, format_date(@claim.claims_tat.final_report) unless @claim.claims_tat.nil? %>
        <%= content_tag :td, pluralize(@claim.completed_to_assignment_tat, 'Day') unless @claim.claims_tat.nil? %>
        <%= content_tag :td, format_date(@claim.claims_tat.approved) unless @claim.claims_tat.nil? %>
        <%= content_tag :td, pluralize(@claim.report_to_approved_tat, 'Day') unless @claim.claims_tat.nil? %>
        <%= content_tag :td, format_date(@claim.claims_tat.loa_release) unless @claim.claims_tat.nil? %>
        <%= content_tag :td, pluralize(@claim.approved_to_loa_tat, 'Day') unless @claim.claims_tat.nil? %>
        <%= content_tag :td, format_date(@claim.claims_tat.shop_out) unless @claim.claims_tat.nil? %>
        <%= content_tag :td, pluralize(@claim.loa_to_shop_out_tat, 'Day') unless @claim.claims_tat.nil? %>
        <%= content_tag :td, format_date(@claim.claims_tat.invoice_received) unless @claim.claims_tat.nil? %>
        <%= content_tag :td, pluralize(@claim.shop_out_to_inv_rcv_tat, 'Day') unless @claim.claims_tat.nil? %>
        <%= content_tag :td, format_date(@claim.claims_tat.payment_request) unless @claim.claims_tat.nil? %>
        <%= content_tag :td, pluralize(@claim.inv_rcv_to_pymt_req_tat, 'Day') unless @claim.claims_tat.nil? %>
        <%= content_tag :td, pluralize(@claim.pymt_req_to_chk_prep_tat, 'Day') unless @claim.claims_tat.nil? %>
        <%= content_tag :td, format_date(@claim.claims_tat.to_audit) unless @claim.claims_tat.nil? %>
        <%= content_tag :td, pluralize(@claim.chk_prep_to_audit_tat, 'Day') unless @claim.claims_tat.nil? %>
        <%= content_tag :td, format_date(@claim.claims_tat.to_treasury) unless @claim.claims_tat.nil? %>
        <%= content_tag :td, pluralize(@claim.audit_to_treasury_tat, 'Day') unless @claim.claims_tat.nil? %>
        <%= content_tag :td, pluralize(@claim.treasury_to_chk_rls_tat, 'Day') unless @claim.claims_tat.nil? %>
      </tr>
    </tbody>
  </table>
</div>

<td><%= link_to 'Input Details', if @claim.claims_tat.nil? then new_claims_tat_path(id: @claim.claim_id) else edit_claims_tat_path(id: @claim.claims_tat.id) end, class: 'btn btn-success' %></td>
<%= link_to 'Back', url_for(:back), class: 'btn btn-danger float-right' %>
