
<%= simple_form_for(@charge_rate) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :charge_type %>
    <%= f.input :qualifier %>
    <%= f.input :rate %>
    <%= f.input :rate_type, as: :select, collection: ["percentage","currency"] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
