<p id="notice"><%= notice %></p>

<p>
  <strong>Year model:</strong>
  <%= @vehicle.year_model %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @vehicle.brand_id %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model_id %>
</p>

<p>
  <strong>Mv file no:</strong>
  <%= @vehicle.mv_file_no %>
</p>

<p>
  <strong>Plate no:</strong>
  <%= @vehicle.plate_no %>
</p>

<p>
  <strong>Engine no:</strong>
  <%= @vehicle.engine_no %>
</p>

<p>
  <strong>Chassis no:</strong>
  <%= @vehicle.chassis_no %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
