<p id="notice"><%= notice %></p>

<h1>Quote Vehicles</h1>

<table>
  <thead>
    <tr>
      <th>Quote</th>
      <th>Vehicle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quote_vehicles.each do |quote_vehicle| %>
      <tr>
        <td><%= quote_vehicle.quote_id %></td>
        <td><%= quote_vehicle.vehicle_id %></td>
        <td><%= link_to 'Show', quote_vehicle %></td>
        <td><%= link_to 'Edit', edit_quote_vehicle_path(quote_vehicle) %></td>
        <td><%= link_to 'Destroy', quote_vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote Vehicle', new_quote_vehicle_path %>
