<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @quote_vehicle.quote_id %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @quote_vehicle.vehicle_id %>
</p>

<%= link_to 'Edit', edit_quote_vehicle_path(@quote_vehicle) %> |
<%= link_to 'Back', quote_vehicles_path %>
