<h3 class="text-center">TAT Details</h3>

<p>
  <strong>Genweb claim:</strong>
  <%= @claims_tat.genweb_claim_id %>
</p>

<p>
  <strong>Completion of document:</strong>
  <%= format_date(@claims_tat.complete_doc) %>
</p>

<p>
  <strong>With estimate:</strong>
  <%= @claims_tat.with_estimate %>
</p>

<p>
  <strong>Assigned to Adjuster:</strong>
  <%= format_date(@claims_tat.assigned_to_adjuster) %>
</p>

<p>
  <strong>Final Adjuster Report:</strong>
  <%= format_date(@claims_tat.final_report) %>
</p>

<p>
  <strong>Approved:</strong>
  <%= format_date(@claims_tat.approved) %>
</p>

<p>
  <strong>Loa release:</strong>
  <%= format_date(@claims_tat.loa_release) %>
</p>

<p>
  <strong>Out from shop:</strong>
  <%= format_date(@claims_tat.shop_out) %>
</p>

<p>
  <strong>Invoice recieved:</strong>
  <%= format_date(@claims_tat.invoice_received) %>
</p>

<p>
  <strong>Payment request:</strong>
  <%= format_date(@claims_tat.payment_request) %>
</p>

<p>
  <strong>To audit:</strong>
  <%= format_date(@claims_tat.to_audit) %>
</p>

<p>
  <strong>To treasury:</strong>
  <%= format_date(@claims_tat.to_treasury) %>
</p>


<%= link_to 'Edit', edit_claims_tat_path(@claims_tat) %> |
<%= link_to 'Back', claims_tats_path %> |
<%= link_to 'Home', claims_index_path %>
