<p id="notice"><%= notice %></p>

<h1>Policies</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Quote</th>
      <th>Online policy no</th>
      <th>Genweb policy no</th>
      <th>Genweb bill no</th>
      <th>Genweb receipt no</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @policies.each do |policy| %>
      <tr>
        <td><%= policy.user_id %></td>
        <td><%= policy.quote_id %></td>
        <td><%= policy.online_policy_no %></td>
        <td><%= policy.genweb_policy_no %></td>
        <td><%= policy.genweb_bill_no %></td>
        <td><%= policy.genweb_receipt_no %></td>
        <td><%= link_to 'Show', policy %></td>
        <td><%= link_to 'Edit', edit_policy_path(policy) %></td>
        <td><%= link_to 'Destroy', policy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Policy', new_policy_path %>
