<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @policy.user_id %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @policy.quote_id %>
</p>

<p>
  <strong>Online policy no:</strong>
  <%= @policy.online_policy_no %>
</p>

<p>
  <strong>Genweb policy no:</strong>
  <%= @policy.genweb_policy_no %>
</p>

<p>
  <strong>Genweb bill no:</strong>
  <%= @policy.genweb_bill_no %>
</p>

<p>
  <strong>Genweb receipt no:</strong>
  <%= @policy.genweb_receipt_no %>
</p>

<%= link_to 'Edit', edit_policy_path(@policy) %> |
<%= link_to 'Back', policies_path %>
